body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #3c3c3c;
}

.video-container {
  width: 1024px;
  height: calc((9 / 16) * 1024px);
  position: relative;
  color: #fff;
  overflow: hidden;
  background: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

.play-pause-main {
  position: absolute;
  font-size: 2.3rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.667);
}

.animate-main-play-pause {
  animation: playPause 0.5s forwards;
}

.show-main-play-pause {
  transform: scale(1);
  opacity: 1;
}

.show-controls {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5rem 1rem 0.5rem 1rem;
  width: 100%;
  background: linear-gradient(to top, #000000b8 -100%, transparent);
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(40px);
  visibility: hidden;
  z-index: 99;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.duration {
  position: relative;
  width: 100%;
  height: 5px;
  background: #ffffffa5;
  cursor: pointer;
  transition: all 0.2s;
}

.duration:hover {
  height: 7px;
}

.duration .current-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ff6a00;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 0;
}

.current-time::before {
  content: "";
  position: absolute;
  right: -5px;
  background: #ff6a00;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.2s;
  visibility: hidden;
  transform: scale(0);
}

.duration:hover .current-time::before {
  visibility: visible;
  transform: scale(1);
}

.duration .buffer {
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgb(145, 145, 145);
  z-index: 99;
  width: 0;
}

.btn-controls {
  padding-top: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-con {
  display: flex;
  align-items: center;
}

.btn-con,
.btn-controls > span {
  cursor: pointer;
}

.play-pause {
  display: flex;
  margin-right: 0.5rem;
}

.time-container {
  font-size: 13px;
  font-weight: 500;
  padding-left: 0.7rem;
}

.volume {
  display: flex;
  align-items: center;
  cursor: default;
}

.mute-unmute {
  display: flex;
  cursor: pointer;
}

.max-vol {
  height: 3px;
  cursor: pointer;
  background: #ffffff6e;
  transition: all 0.1s;
  width: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  display: flex;
  align-items: center;
}

.max-vol.show {
  width: 56px;
  margin-left: 0.5rem;
  visibility: visible;
  transform: scaleX(1);
}

.current-vol {
  position: absolute;
  inset: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  display: flex;
  transition: none;
  align-items: center;
}

.current-vol::before {
  content: "";
  position: absolute;
  right: -5px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #eee;
}

.fullscreen {
  position: absolute !important;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  background: #000 !important;
  align-items: center !important;
}

@keyframes playPause {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
